
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--clor:rgb(195, 82, 82);
--txtclr:white;

}

*{

  padding:0 ;
  margin: 0;
}

.nav{


}

.nav ul li{
font-family: Georgia, 'Times New Roman', Times, serif;

margin-left: 8px;
padding: 3px;
border: 12px; 
border-radius: 12px;

}
.nav ul li:hover{

 background-color: var(--clor);
  cursor: pointer;
  font-weight: bold;
  transition: all;
  }

.nav ul{
margin-left:34px ;
 align-items: center;
 justify-content: center;
}

.log{

  margin-left:10px;
}

.container{

padding: 10px 10px;

border: 1px solid black;
color:white;
margin: auto;
margin-top:22px ;

}


.inbox{

margin-bottom: 12px;

}

